<div id="content-wrapper" *ngIf="video">
  <div class="container-fluid pb-0">
    <div class="video-block section-padding">
      <div class="row">
        <div class="col-md-8">
          <div class="single-video-left">
            <div class="single-video">
              <div>
                <vg-player>
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>
                  <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
                  <vg-controls class="line-height-reset" style="line-height: 1px;">
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
                    <vg-time-display vgFormat="mm:ss" vgProperty="current"></vg-time-display>
                    <vg-time-display vgFormat="mm:ss" vgProperty="total"></vg-time-display>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video #media [src]="video.path" [vgMedia]="media" crossorigin id="singleVideo" preload="auto">
                  </video>
                </vg-player>
                <!--                <ul class="player-list">-->
                <!--                  <li *ngFor="let vdo of videoItems; let $index = index"-->
                <!--                      (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo">-->
                <!--                    {{ vdo.name }}-->
                <!--                  </li>-->
                <!--                </ul>-->
              </div>
            </div>
            <div class="single-video-title box mb-3">
              <div class="float-right video-like-dislike">
                <div class="container container-like-dislike">
                  <div class="row">
                    <div class="col d-flex justify-content-center">
                      <div class="d-flex">
                        <button
                          class="transparent-button {% if like.value == 1 %}liked-color-button {% else %}gray-color{% endif %}"
                          name="like"
                          value="{% if like.value is empty %}3{% else %}{{ like.value }{% endif %}">
                          <mat-icon class="fas">thumb_up</mat-icon>
                        </button>
                        <div class="mt-1 text-nowrap" id="like3-bs3">
                          {{ video.nb_like |thousandSuffixes}}
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                      <div class="d-flex">
                        <button
                          class="transparent-button {% if like.value == 2 %}disliked-color-button{% else %}gray-color{% endif %}"
                          name="dislike"
                          value="{% if like.value is empty %}3{% else %}{{ like.value }{% endif %}">
                          <mat-icon class="fas">thumb_down</mat-icon>
                        </button>
                        <div class="mt-1 text-nowrap" id="dislike3-bs3">
                          {{ video.nb_dislike |thousandSuffixes}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress progress-like-dislike">
                  <div [ngStyle]="{'width': (100*video.nb_like/(video.nb_like+video.nb_dislike))  + '%'}"
                       aria-valuemax="100"
                       aria-valuemin="0"
                       aria-valuenow="30" class="progress-bar bg-success" role="progressbar">
                  </div>
                  <div [ngStyle]="{'width': (100-(100*video.nb_like/(video.nb_like+video.nb_dislike)))  + '%'}"
                       aria-valuemax="100"
                       aria-valuemin="0"
                       aria-valuenow="20" class="progress-bar bg-danger" role="progressbar">
                  </div>
                </div>
              </div>
              <h2>{{ video.title }}</h2>
              <div>
                <div class="d-flex">
                  <mat-icon class="fas">remove_red_eye</mat-icon>
                  <div class="d-inline-block mt-0_15 ml-1">{{ video.nb_view }}</div>
                </div>
              </div>
            </div>
            <div class="single-video-author box mb-3">
              <div class="float-right">

                  <button type="button" class="btn btn-outline-secondary btn-sm" *ngIf="isSubscribed === 1;">Subscribed
                    <strong *ngIf="user.subscriptions.length>0">{{ user.subscriptions.length }}</strong>
                    <strong *ngIf="user.subscriptions.length===0">0</strong>
                  </button>

                  <button class="btn btn-outline-danger btn-sm" type="button" *ngIf="isSubscribed === -1;" >Subscribe
                    <strong *ngIf="user.subscriptions.length>0">{{ user.subscriptions.length }}</strong>
                    <strong *ngIf="user.subscriptions.length===0">0</strong>
                  </button>
                <!--                {% endif %}-->
                <!--                                {# <button class="btn btn btn-outline-danger" type="button"><i #}-->
                <!--                                {# class="fas fa-bell"></i> #}-->
                <!--                                {# </button> #}-->
              </div>
              <img alt="" class="img-fluid" src="assets/images/s4.png">
              <p>
                <a [routerLink]="['/author', video.author|lowercase]">
                  <strong>{{ video.author }}</strong>
                </a>
                <span *ngIf="user.verified" data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                      title="">
                      <mat-icon class="fas text-success user-verified-size">verified_user</mat-icon>
                </span>
              </p>
              <p>
                <small>Published {{ video.upload_date|date:'dd-MM-yyyy' }}</small>
              </p>

            </div>
            <mat-accordion>
              <mat-expansion-panel class="single-video-info-content box mb-3 text-white" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h5>Description</h5>
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template *ngIf="video.description; else noDescription"><p>{{video.description}}</p></ng-template>
                <ng-template #noDescription><p>No Description</p></ng-template>
              </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
              <mat-expansion-panel class="single-video-info-content box mb-3 text-white" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h5>Comments</h5>
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template *ngIf="video.description; else noComment"><p></p></ng-template>
                <ng-template #noComment><p>No Comments</p></ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-video-right">
            <div class="row">
              <div class="col-md-12">
                <div class="adblock">
                  <div class="img">
                    Google AdSense<br>
                    336 x 280
                  </div>
                </div>
                <div class="main-title">
                  <div class="btn-group float-right right-action">
                    <a aria-expanded="false" aria-haspopup="true" class="right-action-link text-gray"
                       data-toggle="dropdown" href="#">
                      Sort by <i aria-hidden="true" class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i>
                        &nbsp; Top Rated</a>
                      <a class="dropdown-item" href="#"><i
                        class="fas fa-fw fa-signal"></i>
                        &nbsp; Viewed</a>
                      <a class="dropdown-item" href="#"><i
                        class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                    </div>
                  </div>
                  <h6>Up Next</h6>
                </div>
              </div>


              <div class="col-md-12">
                <!--                {% for s_v in suggest_video %}-->
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="{{ s_v.thumbnail_path }"></a>
                    <div class="time">{{ s_v.time }</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp;
                          Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp;
                          Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">{{ s_v.title }</a>
                    </div>
                    <div class="video-page text-success">
                      {{ s_v.author_username }
                      <!--                      {% if s_v.author.isVerified == true %}-->
                      <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                         href="#" title="">
                        <i class="fas fa-check-circle text-success"></i>
                      </a>
                      <!--                      {% endif %}-->
                    </div>
                    <div class="video-view">
                      {{ s_v.nb_views } views &nbsp;<i
                      class="fas fa-calendar-alt"></i> {{ s_v.upload_date }
                    </div>
                  </div>
                </div>

                <!--                {% endfor %}-->


                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v2.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">Duis aute irure dolor in reprehenderit in.</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v3.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">Culpa qui officia deserunt mollit anim</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v4.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">Deserunt mollit anim id est laborum.</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v5.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">Exercitation ullamco laboris nisi ut.</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v6.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">There are many variations of passages of Lorem</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
                <div class="adblock mt-0">
                  <div class="img">
                    Google AdSense<br>
                    336 x 280
                  </div>
                </div>
                <div class="video-card video-card-list">
                  <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img alt="" class="img-fluid"
                                     src="assets/images/v2.png"></a>
                    <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                    <div class="btn-group float-right right-action">
                      <a aria-expanded="false" aria-haspopup="true"
                         class="right-action-link text-gray"
                         data-toggle="dropdown" href="#">
                        <i aria-hidden="true" class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-star"></i>
                          &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i
                          class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                    </div>
                    <div class="video-title">
                      <a href="#">Duis aute irure dolor in reprehenderit in.</a>
                    </div>
                    <div class="video-page text-success">
                      Education <a data-original-title="Verified" data-placement="top" data-toggle="tooltip"
                                   href="#" title=""><i
                      class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->
</div>
