<mat-list>
  <mat-list-item  [routerLink]="['/']">
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line>Home</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['/upload']">
    <mat-icon mat-list-icon>cloud_upload</mat-icon>
    <div mat-line>Upload Video</div>
  </mat-list-item>
  <mat-list-item  [routerLink]="['/history']">
    <mat-icon mat-list-icon>history</mat-icon>
    <div mat-line>History</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/categories']">
    <mat-icon mat-list-icon>list</mat-icon>
    <div mat-line>Category</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-list class="channel-sidebar-list-separator">
  <div mat-subheader class="sidenav-title-color" [routerLink]="['/']">SUBSCRIPTIONS</div>
  <mat-list-item class="color-white">
    <img matListAvatar alt="" src="assets/images/s1.png">
    <div mat-line>Your Life</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

