.drawer-container {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #323232;
  color: white;
}

.drawer-sidenav-content {
  color: white;
  margin: 1rem 2rem 70px;
}

.drawer-sidenav {
  /*padding: 20px;*/
  background: linear-gradient(135deg, #191919 0%,#2d2d2d 100%);
  color: white;
}



