<section>
  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let v of videos; let i=index">
      <ng-template carouselSlide [width]="400">
        <div class="item">
          <div class="video-card">
            <div class="video-card-image">
              <a class="play-icon" href="/video/{{ v.url }} "><mat-icon class="fas">play_circle_outline</mat-icon></a>
              <a href="/video/{{ v.url }} ">
                <img class="img-fluid" src="assets/images/v1.png" alt=""></a>
              <div class="time">{{ v.time | splitTime }} </div>
            </div>
            <div class="video-card-body">
              <div class="video-title">
                <a href="/video/{{ v.url}}">{{ v.title}}</a>
              </div>
              <div class="video-page text-success">
                <a title="" data-placement="top" data-toggle="tooltip"
                   href="/channel/{{ v.author }}"
                   data-original-title="{{ v.author }}">
                  {{ v.author }}
                </a>
                <!--                    {% if v.author_verified == 1 %}-->
                <a title="" data-placement="top" data-toggle="tooltip" href=""
                   data-original-title="Verified">
                  <mat-icon class="fas text-success user-verified-size">verified_user</mat-icon>
                </a>
                <!--                    {% endif %}-->
              </div>
              <div class="video-view">
                {{v.nb_view}}  views &nbsp;
                <div class="video-rating" *ngIf="v.nb_like > 0 && v.nb_dislike > 0">
                  {{(100*v.nb_like/(v.nb_like+v.nb_dislike)) | number : '1.2-2'}}  % &nbsp;
                </div>
                <mat-icon class="fas calendar-size">calendar_today</mat-icon>
                {{ v.upload_date | timeago }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>
