<div class="main-title">
  <h4 [routerLink]="['/categories']">Categories</h4>
</div>
<nwt-carousel-category></nwt-carousel-category>

<hr>

<div class="main-title">
  <h4>Most Recent</h4>
</div>
<nwt-carousel-video-most-recent></nwt-carousel-video-most-recent>

<hr>

<div class="main-title">
  <h4>Most Rated</h4>
</div>
<nwt-carousel-video-most-rated></nwt-carousel-video-most-rated>

<hr>

<div class="main-title">
  <h4>Users</h4>
</div>
<nwt-carousel-user [connectedUser]="connectedUser"></nwt-carousel-user>
