<section>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let user of users; let i=index">
      <ng-template carouselSlide [width]="300">
        <div class="item">
          <div class="mb-3">
            <div class="channels-card">
              <div class="channels-card-image">
                <a href="#"><img class="img-fluid mb-2" src="{{user.thumbnail}}" alt=""></a>
                <div class="channels-card-image-btn" *ngIf="isLogedIn">
                  <button type="button" class="btn btn-outline-secondary btn-sm" *ngIf="testIsSubscribed(user.username) === true;">Subscribed</button>
                  <button class="btn btn-outline-danger btn-sm" type="button" *ngIf="testIsSubscribed(user.username) === false;" >Subscribe</button>
                </div>
              </div>
              <div class="channels-card-body">
                <div class="channels-title">
                  <a href="#">{{user.username}}</a>
                </div>
                <div class="channels-view">
                  {{user.subscriptions.length|thousandSuffixes}} subscribers
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
